body{
    margin:0;
    background-color: rgb(171, 216, 196);
    color:rgb(8, 8, 8);
    font-family: 'Bebas Neue', cursive;
}
.title-website{
    text-align: center;
    color:#ff0000;
    font-size: 50px;
}
.header{
    width:80%; 
    display:flex;
    margin:0 auto;
   
}
.header-left{
    width:50%;
}
.header-right{
   width:50%; 
}
.header-img{
    width:100%;
    
}
.bangladesh{
    color:rgb(12, 71, 17);
    font-size: 45px;
}
.content{
    text-align: justify;
    line-height: 30px;
}
.button{
    background-image: linear-gradient(45deg,red,green);
    border: none;
    padding:10px 20px;
    color:white;
    font-weight: 700;
    transition: 0.8s;
}
.button:hover{
    background-image: linear-gradient(white,black);
    cursor: pointer;
    color:red;
    font-size: large;
}
.division{
    width: 30%;
    margin:0 auto;
    border:2px solid black;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 6px 6px 16px rgb(63, 62, 62);
    
}
.tea{
    width:100%;
    height:250px;
}
.name{
    color:hsl(118, 84%, 19%);
    font-size: 35px;
    text-align: center;
}
.text1{
text-align: center;
padding:0 5px
}
.text{
    text-align: justify;
}
.footer{
    text-align:center;
    color: red;
}

